# Ignore externals
chem_proc
cime
components
manage_externals.log
src/physics/carma/base
src/physics/clubb
src/physics/cosp2/src
src/physics/silhs


# Ignore compiled python
buildnmlc
buildcppc

# Ignore editor temporaries and backups
*~
.#*
\#*#
*.swp

# RPF - add nudging to ignore
# don't need to track changes made w/in the nudging folder
tools/nudging/Gen_Data/ERA5_FVdycore
tools/nudging/Gen_Data/Gen_Data_FVdycore
